<html>
    <head>
        <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <!--these let you click on other pages--> 
                <li><a href="about.html">Information</a></li>
                <li><a href="help.html">Help</a></li> 
                <li><a href="defaultpage.html">Home</a></li>
                <li><a href="singlesearch.html">Single search</a></li>
                <li><a href="comparison.html">Compare Between Conditions</a></li>
            </ul>
        </nav>        



    </body>
</html>